html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    min-width: none;
    font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
   

}

.page {
    display: flex;

}

.mountain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mountain .montblanc {
    height: 100%;
    width: 40vw;
    position: relative;
}

.snowboard {
    height: 15vh;
    width: 10vw;
    
}

.mountain .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 13%;
}

.logoText {
    text-align: center;
    font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
    font-size: 1.5rem;
    color: black;
    margin-top: 0;

}

.signUp {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60vw;
    background-color: #E6E6FA



}

.description {
    padding: 5%;
    padding-left: 7%;
    
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7%;
    margin-bottom: 8%;
}

.form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(2, 30%);
    gap: 15%;
    
}

.submitBtn {
    height: 28px;
    width: 156px;
    text-align: center;
    border-radius: 5px;
    border-width: thin;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #C5FDF8;
    cursor: pointer;
}
 
hr {
    width: 60vw;
    height: 0.1vh;
}

h1 {
    font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;

}

.logIn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7%;
    
}

.account {
    font-size: 1rem;
    margin-right: 1%;
}

a {
    text-decoration: none;
    color: cornflowerblue
}

input {
    height: 24px;
    width: 150px;
    border-width: thin;
    border-radius: 5px;
}

input:invalid {
    border-color: #eb5149;
}



